.nav-bar-container {
    height: 50px;
    background-color: #a38e6f;
    border-bottom: 2px solid var(--dark-brown);
    align-items: center;
    display: flex;
    padding-left: 50px;
}

.nav-bar-container > a {
    font-size: 1.7rem;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    margin: 20px;
    padding: 0;
}

.nav-bar-container > a:hover {
    color: rgb(218, 218, 218);
    text-decoration: underline;
} 

.nav-bar-title {
    color: whitesmoke;
    font-size: 1.7rem;
    margin-right: 80px
}