.chess-board-presets-main-container {
    height: 675px;
    width: 80%;
    z-index: 2;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(117, 29, 29, 0.904);
}

.chess-board-presets-header-container {
    display: flex;
    background-color: var(--dark-brown);
    flex-direction: row-reverse;
    height: 25px;
}

.chess-board-presets-all-presets {
    height: calc(100% - 25px);
    overflow-y: auto;
}

.chess-board-presets-main-container p {
    padding: 0;
    margin: 0;
}

.chess-board-presets-preset-container {
    display: grid;
    grid-template-rows: 35px auto;
    align-items: center;
    width: 100%;
}

.chess-board-presets-preset-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-square);
    padding: 5px;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--dark-brown);
    border-top: 1px solid var(--dark-brown);
}

.chess-board-presets-preset-body-container {
    padding: 5px;
    overflow-wrap: break-word;
    white-space: pre-line;
}