.lobby-selection-choose-connectivity {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lobby-selection-choose-connectivity > button {
    font-size: 2.5rem;
    height: 20%;
    margin: 0 100px;
}