.lobby-ui-row > label {
    position: relative;
    display: block;
}

.lobby-ui-row {
    margin: 20px 0;
}

.lobby-ui-radio-container {
    margin-bottom: 20px;
    display: flex;
}

.lobby-ui-radio-container > input {
    transform: scale(1.5);
    margin: 0 10px 0 20px;
}

.lobby-ui-radio-container > label {
    text-decoration: underline dotted;
}

.lobby-ui-content > * > input {
    font-size: 1.5rem;
}

.create-lobby-button-container {
    padding-top: 30px;
}

.create-lobby-button {
    position: relative;
    align-self: flex-end;
    height: 50px;
    font-size: 1.5rem;
}