#main-container {
    display: grid;
    grid-template-columns: minmax(450px, 1fr) 675px minmax(450px, 1fr);
    grid-template-rows: 200px minmax(700px, calc(100vh - 300px));
    height: calc(100vh - 50px);
    background-color: var(--chess-background);
}

.chess-button {
    background-color: var(--light-square);
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(117, 29, 29, 0.904);
}

.chess-button:hover {
    background-color: var(--light-square-hover);
}

.chess-button:disabled {
    background-color: #dfd1b0;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(117, 29, 29, 0.904);
}

.chess-button:disabled:hover {
    background-color: #dfd1b0;
    cursor: not-allowed;
}